In [1]:
import ex_features_utils as efu
import pandas as pd
import numpy as np

In [2]:
fr1 = pd.read_csv('../data/fastest_routes_train_part_1.csv')
fr2 = pd.read_csv('../data/fastest_routes_train_part_2.csv')
train_fr = pd.concat([fr1, fr2])
train_fr_new = train_fr[['id', 'total_distance', 'total_travel_time', 'number_of_steps','step_direction']]
train_df = pd.read_csv('../data/train.csv')
train = pd.merge(train_df, train_fr_new, on = 'id', how = 'left')
train_df = train.copy()
train_df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,total_distance,total_travel_time,number_of_steps,step_direction
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2009.1,164.9,5.0,left|straight|right|straight|arrive
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2513.2,332.0,6.0,none|right|left|right|left|arrive
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,11060.8,767.6,16.0,right|left|right|left|straight|right|straight|...
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1779.4,235.8,4.0,left|left|right|arrive
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1614.9,140.1,5.0,right|left|right|left|arrive

In [3]:
train_df = train_df.loc[(train_df.trip_duration < 500000) & (train_df.trip_duration > 0)]
train_df = train_df[train_df['total_travel_time'] > 0]

In [4]:
print(train_df.shape)
# 得到相关的转弯，最快路径，总行驶时间，的信息，
train_df = efu.get_turn_number(train_df)
print(train_df.shape)
# 加入天气相关信息，
train_df = efu.get_weather_info(train_df)
print(train_df.shape)
# 加入节日信息
train_df = efu.get_holiday(train_df)
print(train_df.shape)
#加入集群相关信息
train_df = efu.get_cluster(train_df)
print(train_df.shape)
#加入日期信息
train_df = efu.get_dateinfo(train_df)
print(train_df.shape)
train_df.head()

(1452095, 15)
(1452095, 18)
(1452095, 23)
(1452095, 24)
(1452095, 30)

C:\Users\lihaiyang\program\PyDataHW\hw\ex_features_utils.py:216: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  dataframe.loc[:, 'week_of_year'] = dataframe['pickup_datetime'].dt.weekofyear

(1452095, 35)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,label_drop,centroid_pick_long,centroid_pick_lat,centroid_drop_long,centroid_drop_lat,pick_month,hour,week_of_year,day_of_year,day_of_week
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,...,6,-73.982940,40.770741,-73.971083,40.759457,3,17,11,74,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,...,19,-73.982121,40.744415,-74.001091,40.739106,6,0,23,164,6
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,...,11,-73.982940,40.770741,-74.008789,40.713602,1,11,3,19,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,...,11,-74.008789,40.713602,-74.008789,40.713602,4,19,14,97,2
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,...,17,-73.972018,40.790736,-73.972018,40.790736,3,13,12,86,5

In [5]:
print(train_df.columns)
#加入球面和曼哈顿距离
train_df = efu.get_havsine_info(train_df)
train_df = efu.get_manhatn_info(train_df)
print(train_df.shape)
# 加入变换后的坐标的信息，适用pca来变换坐标
train_df = efu.get_pca(train_df)
print(train_df.shape)
train_df.head()

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration', 'total_distance', 'total_travel_time',
       'number_of_steps', 'step_direction', 'straight', 'right', 'left',
       'date', 'minimum temperature', 'precipitation', 'snow fall',
       'snow depth', 'is_holiday', 'label_pick', 'label_drop',
       'centroid_pick_long', 'centroid_pick_lat', 'centroid_drop_long',
       'centroid_drop_lat', 'pick_month', 'hour', 'week_of_year',
       'day_of_year', 'day_of_week'],
      dtype='object')
(1452095, 47)
(1452095, 51)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,hvsine_drop_cent_p,manhtn_pick_cent_p,manhtn_drop_cent_d,manhtn_cent_p_cent_d,manhtn_pick_drop,speed_manhtn,pickup_pca0,pickup_pca1,dropoff_pca0,dropoff_pca1
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,...,1.644455,0.377967,1.226803,2.253280,1.735433,0.010524,0.009032,0.016334,-0.008541,0.014397
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,...,2.077110,0.794378,1.020157,2.188406,2.430506,0.007321,0.006627,-0.012993,0.025520,-0.020835
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,...,7.003312,1.085950,0.682194,8.530235,8.203575,0.010687,0.005814,0.012408,0.030893,-0.042027
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,...,0.819711,0.813600,1.058733,0.000000,1.661331,0.007046,0.035823,-0.032252,0.037750,-0.045551
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,...,0.916755,0.362053,0.989776,0.000000,1.199457,0.008561,0.000505,0.041806,0.000133,0.031123

In [7]:
train_df.to_csv('../data/features.csv')